#hero_score{
    margin-left: 150px;
}

#good_team{
    margin-left: 750px;
    margin-top: 60px;
    font-size: 15px;
}

#good_score{
    margin-left: 650px;
    margin-top: 60px;
    font-size: 15px;
}

#bad_team{
    margin-left: 890px;
    margin-top: 60px;
    font-size: 15px;
}

#bad_score{
    margin-left: 980px;
    margin-top: 60px;
    font-size: 15px;
}